.checkout {
    width: 40rem;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    height: 5rem;
    border: 1px solid;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.btn--img {
    height: 0.75rem;
}

.empty--cart {
    height: 3rem;
    margin-top: 7rem;
}

.qtd {
    text-align: center;
}