.menu {
    background-color: lightgreen;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    height: 4rem;
  }

.navbar {
    height: 4rem;
    display: flex;
    margin: auto;
    padding: 1rem 5rem 1rem;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
}

.navbar .rightSide {
    gap: 2rem;
    display: inline-flex;
}

.shopName {
    margin-left: 1.8rem;
}

.link {
    text-decoration: none;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 0.4rem;
    padding: 0.5rem;
}