.btn {
    height: 1.3rem;
    text-align: center;
    margin: 0.3rem;
}

.btn--cart {
    width: 2rem;
    margin-right: 1rem;
}

.textbox {
    display: inline-block;
    text-align: left;
}

.list {
    width: 40rem;
    margin: auto
}

.list .itemCard {
    border: black solid 1px;
    margin-top: 1rem;
    padding: 0.5rem;
    width: auto;
    height: 5rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    height: 100%;
    width: 13%;
    justify-content: center;
}

.text {
    width: 65%;
}

.info {
    flex: 2;
    margin-right: 1rem;
    color: grey;
}
