body {
  margin: 0;
  padding: 0;
  height: 100%;
}
 h2 {
  font-size: 1.5rem;
  text-align: left;
 }

 h1, h2, h3, h4 {
  margin: 0;
 }

 .container {
  margin-top: 9rem;
  margin-right: 7rem;
  margin-left: 7rem;
  margin-bottom: 7rem;
  text-align: center;
}

.btn {
  margin-right: 0.3rem;
}

button {
  cursor: pointer;
}