@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
 h2 {
  font-size: 1.5rem;
  text-align: left;
 }

 h1, h2, h3, h4 {
  font-family: 'san-serrat', 'montserrat';
  margin: 0;
 }

 .container {
  margin-top: 9rem;
  margin-right: 7rem;
  margin-left: 7rem;
  margin-bottom: 7rem;
  text-align: center;
}

.btn {
  margin-right: 0.3rem;
}

button {
  cursor: pointer;
}